# Ignore node_modules and other dependencies
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Ignore cache and build folders
.expo/
.expo-shared/
.vscode/
.DS_Store
.gradle/
.idea/
.build/
.cache/
.eas/
dist/
build/

# Ignore assets not needed for the build
assets/videos/
assets/large-images/

# Ignore test files
__tests__/
*.spec.js
*.test.js
